*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    background: url(../images/background.jpg);
    background-position: center;
    background-size:cover ;
    height: 100vh    ;
}
.logo{
    height: 55px;
    width: 55px;
}
.nav-link{
    color: #000 !important;
}
.nav-link:hover{
    color: orange !important;
}
.banner-img img{
    height: 75% !important;
    width: 75% !important;
}
.banner-header{
    color: #F75023;
}
.orange{
    color: #1cbe59;
}
.Green{
    color: #8067f0;
}
.About-btn{
    position: relative;
    overflow: hidden;
    z-index: 9;
    border: 2px solid #F75023 !important;
}
.About-btn::after{
    content:"" ;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F75023;
    border-radius: 60%;
    left: 0;
    bottom:-100%;
    transition: all ease 0.5s;
    z-index: -1;

}
.About-btn:hover::after{
    bottom: 0;
    border-radius: 0;
    transition: all ease 0.5s;
}
.About-btn:hover{
    color:#fff !important;
}
